body {
    background-color: midnightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

echo {
    color: antiquewhite;
}

h1 {
    color: antiquewhite;
}

h2 {
    color: antiquewhite;
}

h3 {
    color: antiquewhite;
}

p {
    color: antiquewhite;
}

a {
    color: antiquewhite;
    padding: 20px;
}

#NavContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Date {
    color: antiquewhite;
}

hr {
    width: 100%;
}

/*-------------\/ products styling \/----------------*/
table {
    width: 100%;
    margin: 20px 0;
    background-color: white;
}
th, td {
    padding: 12px;
    border: 1px solid grey;
    text-align: left;
}
th {
    background-color: grey;
}

/*-------------/\ products styling /\----------------*/